@model Blogs.Models.Post

@{
    ViewBag.Title = "Details";
}
<div>
    <hr />
        <div class="boxcontainerdark">
            <center><h2>@Html.DisplayFor(model => model.Title)</h2></center>
            <p><font size =3>@Html.DisplayFor(model => model.Body)</font></p>
        </div>
    <dl class="dl-horizontal">
        <dt>
            <right><small><i>Date Posted:</i></small></right>
        </dt>
        <dd>
            <right><small><i>@Html.DisplayFor(model => model.DatePosted)</i></small></right>
        </dd>

        <dt>
            <right><small><i>Last Edited:</i></small></right>
        </dt>
        <dd>
            <right><small><i>@Html.DisplayFor(model => model.DateEdited)</i></small></right>
        </dd>

        <dt>
            <right><small><i>Posted by:</i></small></right>
        </dt>
        <dd>
            <right><small><i>@Html.DisplayFor(model => model.UserID)</i></small></right>
        </dd>
        </dl>
    <p>
        @*check to see if it is the same user logged in as posted post*@
        @if (User.Identity.Name == Model.UserID)
        { 
        @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) <b>|</b>
        @Html.ActionLink("Back to Posts", "../") <b>|</b>
        @Html.ActionLink("Delete", "Delete", new { id = Model.PostID })
        }
    </p>
    @* Create comment on PostID *@

@if (User.Identity.IsAuthenticated && !User.IsInRole("Suspended"))
 {@Html.ActionLink("Leave a Comment", "Create", "Comments", new { postID = @Model.PostID }, new { @class = "btn btn-primary btn-lg" })}
@if (User.Identity.IsAuthenticated && User.IsInRole("Suspended"))
{<p><a href="~/" class="btn btn-primary btn-lg">You are suspended!</a></p>}
@if (!User.Identity.IsAuthenticated && !User.IsInRole("Suspended"))
{<p><a href="../Account/Register" class="btn btn-primary btn-lg">Leave a Comment [Create Account]! &raquo;</a></p>}
    @* Comment section *@

        @foreach (var c in Model.Comments)
        {
            <div class="boxcontainer">
                @c.Body
            </div>
            <div>
                <font color="darkgrey">Comment posted by </font><font color="skyblue">@c.UserID</font> <font color="darkgrey">on @c.DatePosted </font>
    @*check to see if it is the same user logged in as posted comment*@
    @if (User.Identity.Name == c.UserID && !User.IsInRole("Suspended"))
                {
        @Html.ActionLink("Edit", "../Comments/Edit", new { id = c.CommentID }) <b>|</b>
                }
    @if ((User.IsInRole("Moderator")) || (User.Identity.Name == c.UserID) && (!User.IsInRole("Suspended")))
    {
        @Html.ActionLink("Delete", "../Comments/Delete", new { id = c.CommentID })
    }
       
    
</div>
            <div style="line-height:130%;">
                <br>
            </div>
        }

    </div>
@* /Comment sectionn *@

